* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .navbar {
    background: #000;
}

/* Navbar brand */
.header .navbar-brand {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header .logo {
    width: 55px;
    height: 55px;
}

.header .text-logo {
    font-size: 2rem;
    color: #fff;
}

/* Navbar menu */
.header .navbar-nav {
    margin: 0 auto;
}

.header .nav-link {
    margin: 0 12px;
    font-size: 1.6rem;
    color: #bbb;
}

.header .nav-link:hover {
    opacity: 0.7;
}

/* Navbar form */
.header .form-control {
    width: 200px;
    height: 30px;
    border-color: #fff;
    color: #bbb;
}

.header .btn {
    width: 80px;
    color: #fff;
}

.header .btn:hover {
    background: transparent;
    opacity: 0.7;
}

/* Navbar toggler */
.header .navbar-toggler {
    height: 40px;
    width: 80px;
    background: #ffffff;
}

.header .navbar-toggler-icon {
    color: #000;
    width: 30px;
}

/* Slide */
.slide .carousel-inner {
    width: 100%;
    height: calc(100vh - 72px);
}

.slide .carousel-item {
    width: 100%;
    height: 100%;
}

.slide .slide-image {
    width: 100%;
    height: 100%;
}

/* Outstanding products */
.outstanding-products {
    padding: 200px 0 50px;
}

.outstanding-products .product {
    position: relative;
    border-bottom: 13px solid transparent;
}

.outstanding-products .card {
    /* position: relative; */
    border-color: #ccc;
}

.outstanding-products .card:hover {
    border: none;
    box-shadow: 1px 3px 10px #bbb;
}

.outstanding-products .product:hover .info {
    display: block;
}

.outstanding-products .card-body {
    margin: 0 auto;
}

.outstanding-products .card-title {
    font-size: 2rem;
    font-weight: 600;
}

.outstanding-products .card-text {
    color: #bbb;
}

.outstanding-products .card-img-bottom {
    height: 250px;
}

/* Info */
.outstanding-products .info {
    display: none;
    width: calc(100% - 16px);
    margin: 8px auto 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 1px 3px 10px #bbb;
    position: absolute;
    bottom: -130px;
    left: 8px;
    background: #fff;
    z-index: 1;
}

.outstanding-products .info-text {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.outstanding-products .info-text:hover {
    background: #ccc;
}

.outstanding-products .info-text:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* Introduce */
.introduce {
    padding: 150px 0 50px;
}

.introduce .title {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 50px;
}

.introduce .card {
    padding: 0;
    border: none;
}

.introduce .introduce-img {
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
}

.introduce .card-body {
    padding: 50px 0px 0 150px;
}

.introduce .card-body-last {
    padding: 50px 150px 0 0px;
}

@media screen and (max-width: 992px) {
    .introduce .card-body {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }
    .main.container {
        /* margin: 0 12px 0; */
    }
}

.introduce .card-title {
    font-size: 2.6rem;
    font-weight: 600;
}

.introduce .card-text {
    margin-top: 18px;
    line-height: 1.7;
    color: #bbb;
    font-size: 1.8rem;
}

.introduce .all-models {
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 1px 3px 10px #bbb;
    padding: 11px 24px;
    border-radius: 999px;
}

/* FQA */
.faq {
    margin-top: 100px;
}

.faq .title {
    margin-bottom: 50px;
    font-size: 3.6rem;
    font-weight: 700;
}

.faq .accordion-button.collapsed {
    font-size: 1.8rem;
}

.faq .accordion-body {
    color: #bbb;
}

.faq .accordion-button {
    color: #000;
}

/* Footer */
.footer {
    padding: 50px 0 0;
    margin-top: 200px;
    background: #000;
}

.footer .nav-link {
    color: #bbb;
    margin-bottom: 15px;
}
